<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!--<script src="../static/jquery-3.2.1.min.js" type="application/javascript"/>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js" type="application/javascript"/>
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />-->

    <script src="/jquery-3.2.1.min.js" type="application/javascript"/>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js" type="application/javascript"/>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

<form class="col-lg-1 form-control" method="POST" enctype="multipart/form-data"
      action="../pic/update">

<input type="file" name="file" />
    <button type="submit">上传</button>
</form>


</body>
</html>