<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" />
    <title>图片上传</title>

    <script src="../static/lib/jquery-3.2.1.min.js" ></script>

    <script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>
    <link href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />

    <script src="/lib/jquery-3.2.1.min.js" ></script>
    <script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>
    <link href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />



</head>
<body>

<form class="col-lg-1 form-control" method="POST" enctype="multipart/form-data"
      action="../pic/update">

<input type="file" name="file" />
    <button type="submit">上传</button>
</form>



</body>
</html>