<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>二维码</title>

   <!-- <script src="../static/lib/jquery-3.2.1.min.js" ></script>
    <script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>
    <link href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />-->

    <script src="/lib/jquery-3.2.1.min.js" ></script>
    <script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>

    <link href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>



    <script src="/js/cao.js"></script>
    <script src="/js/Qrcode.js"></script>

   <!-- <script th:src="@{/js/cao.js}"></script>
    <script th:src="@{/js/Qrcode.js}"></script>-->


</head>
<body onload="init()">
<div >
    <button class="btn-group-lg" onclick="flushQr()">ddd</button>
</div>





<div>
    <img class="img-responsive"  id="imgflu" src="./getflush?time=1"/>
</div>

<div class="col-lg-4">
    <img class="img-responsive" id="imgs" src="./getone" />
</div>
<div>
    <button class="btn-default" onclick="getYanZhengCode()">刷新验证码</button>
</div>
</body>
</html>