<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>二维码</title>

    <script src="../static/lib/jquery-3.2.1.min.js" ></script>
    <script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>
    <link href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />

    <script src="/lib/jquery-3.2.1.min.js" ></script>
    <script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.js" ></script>
    <link href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />

    <script src="/js/Qrcode.js"></script>

</head>
<body>
<div>

    <button>ddd</button>
</div>
<div class="form-control">
    <img  id="img" src="./getone" />
</div>

</body>
</html>